@using CougarTown.Models.BaseModels
@model List<User>


@{
    ViewBag.Title = "HotOrNot";
}

<div class="col-lg-12">
    <div class="row">
        @foreach (User user in Model)
        {
            <a href="/Home/PublicProfile/@user.ID">
                <div class="col-lg-4 img-thumbnail">
                    <div>
                        <img src="~/Content/Images/Users/@user.ProfileImage" />
                    </div>
                    <div>
                        @user.DisplayName
                    </div>
                    <div>
                        @user.Age
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="col-lg-12">
    </div>
</div>